// base layout

// some email clients may strip the body tag, but this is needed for those that dont.
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: $white;
}
table, td, div, h1, p {
  font-family: Arial, sans-serif;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}