<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple HTML Email Template</title>
  <style type="text/css">
    include "main.css"
  </style>
</head>

<body>
  <style type="text/css">
    include "main.css"
  </style>
  <table id="outer" class="table table-outer" width="100%">
    <tr>
      <td>
        <table id="inner" class="table table-inner">
          <tr>
            <td>
              include "header.html"
              include "body.html"
              include "footer.html"
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>